*{
    font-family: 'Poppins', sans-serif;;
    margin: 0;
    padding: 0;
}

.header-section{
    background-image: url("asset/header-bg.png");
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.header-section h1{
    font-size: 40px;
    
}

.header-section #heading-highlight{
    color: dodgerblue;
    margin-bottom: 30px;
}

.header-section h3{
    margin-bottom: 10px;
}

.header-section p{
    color: dimgray;
    margin-bottom: 20px;
}

.header-section .button{
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(86, 116, 250, 0.986), rgba(0, 39, 99, 0.986), rgba(86, 116, 250, 0.986));
}

.header-section .button:hover{
    background-image: linear-gradient(to left, rgba(0, 39, 99, 0.986), rgba(86, 116, 250, 0.986),rgba(0, 39, 99, 0.986));
}

.im-half{
    width: 40%;
    padding: 3%;
    margin: 2%;
    float: left;
}

.im-half img{
    width: 100%;
}

.for-margin{
    margin-top: 150px;
}

.dream-section{
    clear: both;
    background-image: url("asset/biography-bg.png");
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100% 100%;
}

.dream-section h2{
    font-size: 40px;
    margin-top: 220px;
    margin-bottom: 20px;
}

.dream-section h3{
    margin-bottom: 10px;
}
.dream-section p{
    color: dimgray;
    margin-bottom: 20px;
}
.dream-section .button{
    font-size: 20px;
    padding: 5px 20px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, rgba(86, 116, 250, 0.986), rgba(0, 39, 99, 0.986), rgba(86, 116, 250, 0.986));
}
.dream-section .button:hover{
    background-image: linear-gradient(to left, rgba(0, 39, 99, 0.986), rgba(86, 116, 250, 0.986),rgba(0, 39, 99, 0.986));
}



